

<!--CONTENEDOR PRINCIPAL-->
<div class="text-2xl text-amber-300 h-200 w-250 m-0 bg-amber-50 p-2 rounded-3xl border-7 box-content">

<!--HEADER DE CONTENEDOR PRINCIPAL-->
  <div class="w-full flex items-center justify-around mt-12 " >

    <div class="h-4/10 w-4/10 ">
      <img src="/img/pokemon-logo.png" alt="Logo-pokemon" >
    </div>


      <div class="flex flex-col gap-2">

            <div
              class="bg-amber-400 text-amber-100 font-bold p-5 h-12 w-7/10 border-2 border-amber-500 rounded-3xl flex justify-start items-center">
              N° {{ pokemon().id }}
            </div>

          <div
            class="bg-amber-400 text-amber-100 font-bold p-5 h-12 w-8/10 border-2 border-amber-500 rounded-3xl flex justify-start items-center">
            {{ pokemon().name | titlecase }}

        </div>
<!--CONTENEDOR DE TIPOS DE POKEMON-->
        <div class="text-2xl text-amber-300 min-h-fit w-fit m-0 bg-amber-50 p-6  flex items-center justify-center">

          <div class=" flex flex-row flex-nowrap items-center justify-start gap-4">

            <h2 class="text-3xl text-amber-950 font-bold whitespace-nowrap">Tipo:</h2>

            <div class="flex flex-row flex-nowrap gap-2">
              @for (Tipo of pokemon().types; track $index) {
                <p class="h-8 px-4 bg-amber-400 text-amber-100 font-bold border-2 border-amber-500 rounded-3xl flex justify-center items-center whitespace-nowrap">
                  {{Tipo.type.name | titlecase}}
                </p>
              }
            </div>

          </div>
        </div>

  </div>

  <!-- IMAGEN DE POKEMON-->
  <div class="flex flex-col items-center ">
    <img
      class="w-40 h-40 border-4 rounded-2xl"
      [src]="pokemon().sprites.front_default"
      [alt]="pokemon().name"
    />
  </div>

  </div>

  <!-- CONTENDEOR SECUNDARIO-DETALLE-->

    <div class="m-4 w-240 h-100 bg-amber-100  border-2 border-amber-500 rounded-3xl">
  <!-- HEADER DE CONTENEDOR-SECUNDARIO-->
      <div class="p-4 w-full text-center text-white flex flex-row justify-around items-center">
        <h2 class="text-3xl text-amber-950 font-bold">
          Habilidades:
        </h2>
        @for (Habilidades of pokemon().abilities; track $index) {
        <div class="p-4 w-50 h-8 px-4 bg-amber-400 text-amber-100 font-bold border-2 border-amber-500 rounded-3xl flex justify-center items-center">
          {{Habilidades.ability?.name}}
        </div>
        }
        <div class="flex flex-row justify-around">
          <strong class="text-3xl text-amber-950 mr-3 flex items-center">
            Peso: </strong>
            <div class="p-4 w-40 h-8 px-4 bg-amber-400 text-amber-100 font-bold border-2 border-amber-500 rounded-3xl flex justify-center items-center">
              {{pokemon().weight}}
            </div>
          </div>
      </div>

<!-- ESTADISTICAS -->
      <h2 class=" w-6/10 mb-5 text-3xl text-amber-950 font-bold text-center">
        Estadisticas
      </h2>

      <div class="flex flex-col gap-6 pl-5">
        <div class=" bg-amber-200 border-2 border-amber-500 rounded-2xl grid grid-cols-2 gap-2 p-2 w-6/10">
          @for (Estadisticas of pokemon().stats; track $index) {
            <table class="text-2xl">
              <tr>
                <tr class="flex justify-between">
                  <td class="font-bold text-amber-950 border-b-2 ">
                    {{Estadisticas.stat.name}}
                  </td>
                  <td class="text-white font-bold border-b-2 border-l-2 rounded-4xl p-1 border-amber-400">
                    {{Estadisticas.base_stat}}
                  </td>
                </tr>
            </table>
          }
        </div>
<!---->
        <div class=" bg-amber-200 border-2 border-amber-400 rounded-3xl w-1/2 flex flex-row justify-between p-1 gap-7">
          <h2 class="text-2xl text-amber-950 font-bold pl-1">Experiencia base</h2>
          <h2 class="text-white text-2xl font-bold pr-4">{{pokemon().base_experience}}</h2>
        </div>
      </div>

    </div>




<!-- Inputs de busqueda -->

<div class="h-20 w-1/2 m-4 flex justify-around items-center">
  <input class="bg-amber-400 p-2 text-1xl ml-10 border-2 border-amber-500 hover:bg-white rounded-2xl text-center text-black" type="text" placeholder="Pokemón..." [value]=PokemonName() (input)="PokemonName.set($any($event.target).value)">
  <button class="p-2 bg-green-400 hover:bg-blue-500 text-1xl text-white border-2 rounded-2xl border-amber-500" type="submit" (click)="sendPokemon()">Buscar</button>
</div>




</div>

<!--
    <div class=" text-start p-1 border-2 border-amber-500 rounded-2xl bg-amber-400 w-60 text-white" >
      <strong class="text-center flex justify-start items-center">{{Estadisticas.stat.name}} : <p>{{Estadisticas.base_stat}}</p></strong>
    </div>-->
<!-- MOVIMIENTOS

<div class="max-h-fit grid grid-cols-5 gap-4">
  @for (Movimientos of pokemon().moves; track $index) {
    <div class="text-center p-2 border rounded">
      {{Movimientos.move.name}}
    </div>
  }
</div>
-->



